*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
body .navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 15px #777;
    padding: 15px 25px;
    min-height: 100px;
    position:fixed;
    background-color: #1c1c1c;
}
body .navbar .logo{
    color: #47B5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
body .navbar .logo i
{
    font-size: 30px;
    color: brown;
}
body .navbar .logo h1
{
    font-size: 25px;
}
body .navbar span{
    color: #EB6440;
}
body .navbar a
{
    text-decoration: none;
    color: #1c1c1c;
    font-size: 18px;
    padding: 0 5px;
    font-weight: 600;
}
body .navbar a.reg
{
    color: #EB6440;
}
body .navbar a.log
{
    color: #47B5FF;
}
body .navbar a.reg:hover{
    color: #47B5FF;
    transition: 0.3s;
}
body .navbar a.log:hover{
    color: #EB6440;
    transition: 0.3s;
}
body .navbar:hover
{
    background-color: #1c1c1c;
    box-shadow: 0 1px 15px #EB6440;
    transition: 0.5s;
}